target/
!.mvn/wrapper/maven-wrapper.jar
*.log
/Spring
/lib
/resource
/untitled
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
application-sjk.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nb-configuration.xml
/bin
